/**
*  main-qna, my-qna
**/
div.top-buffer { margin-top:30px; }
div.qna-page-header {padding-bottom: 9px; margin: 10px 0 20px; border-bottom: 1px solid #eee; font-weight: bold; font-size: 16px;}
span.section-category {margin-top: -7px; font-size: 12px}
div.qna-item {border-bottom: 1px solid #eee; padding-bottom:20px;}
div.my-qna-item {border-bottom: 1px solid #eee; margin-bottom:25px;}
div.best-qna-item {border-bottom: 1px solid #eee; margin-bottom: 20px;}
div.qna-rating-info {width:30px; padding:0px; margin-left:5px;}
div.best-qna-bottom {font-size: 14px; margin: 5px 0 0 10px; padding-left: 10px;}
div.best-qna-bottom span { padding:5px}
img.qna-profile {width: 64px; height: 64px;}
span.my-qna-writer {margin-left:20px;}
.my-qna-rating button {margin:5px;}
