/* -------------------------------------------------- */
/* Custom page CSS
/* -------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*
*  layout
*/
html {position: relative; min-height: 100%; min-width: 480px;}
body { margin-bottom: 100px; font-size:12px; }
.wrap { margin-left:0; margin-right:0; }
.login_member_form {padding:15px;width:470px;}
.top-buffer { margin-top:20px; }
.container .text-muted { margin: 20px 0; }
.contents-container { padding:0px;}

/*
* Sticky footer styles
*/
#footer { position: absolute; bottom: 0; width: 100%; margin-top: 20px; border-top: 1px solid #eee; padding-top:20px; margin-top:20px; background-color: #F8F8F8; border-color: #E7E7E7;}


/**
*  button
**/
button.btn-sm-fixed { width: 65px !important;}
button.btn-fixed { width: 88px !important;}
button.btn-lg-fixed { width: 102px !important;}

/*
*  main-qna, my-qna
*/
div.nav-tabs-header {border-bottom: 1px solid #eee; font-weight: bold; font-size: 16px; padding-bottom: 8px;}
span.section-category {margin-top: -7px; font-size: 12px}

div.my-qna-item {border-bottom: 1px solid #eee; padding-bottom: 15px; padding-top: 15px;}
div.qna-item {border-bottom: 1px solid #eee; padding-bottom:10px}

div.best-qna-item {border-bottom: 1px solid #eee; padding-top: 15px; padding-bottom: 15px; }
div.best-qna-item .media{}

div.qna-rating-info {width:30px; padding:0px; margin-left:5px;}
div.best-qna-bottom {font-size: 14px; margin: 5px 0 0 10px; padding-left: 10px;}
div.best-qna-bottom span { padding:5px}
img.qna-profile {width: 64px; height: 64px;}
img.min-profile {width: 16px; height: 16px;}
img.mid-profile {width: 32px; height: 32px;}
span.my-qna-writer {margin-left:20px;}
.my-qna-rating button {margin:5px;}


